Makefile
build
build\FileInputSource.cpp.o
build\StringInputSource.cpp.o
build\StdinSource.cpp.o
build\InputStream.cpp.o
build\FileOutputSource.cpp.o
build\StringOutputSource.cpp.o
build\StdoutSource.cpp.o
build\StderrSource.cpp.o
build\OutputStream.cpp.o
build\CompilerPrimitives.cpp.o
build\ControlStructures.cpp.o
build\ParsingWords.cpp.o
build\StackOperators.cpp.o
build\StdIO.cpp.o
build\Variables.cpp.o
build\SizeWords.cpp.o
build\Base.cpp.o
build\TapeVM.cpp.o
library
library\tapevm.dll
test.exe
Main.o
cpp.out 
tapevm.dll
test.cpp